---
import Layout from "../components/Layout.astro";
import { Image } from "astro:assets";
import me from "../assets/avatar.webp";
import name from "../assets/name.svg";
import Prose from "../components/Prose.astro";
import NowPlaying from "../components/NowPlaying.astro";
import SubscribeForm from "../components/NewsletterForm.astro";
import { getCollection } from "astro:content";
import { getBlogPosts } from "../data/utils";

const posts = await getBlogPosts();
const newestPosts = posts.slice(0, 5);

const [albums, filmsShows, books] = await Promise.all([
  getCollection("albums"),
  getCollection("filmsShows"),
  getCollection("books"),
]);

const linksClass = "w-fit font-bold";
---

<Layout image={new URL("og/home.png", Astro.url)}>
  <div class="flex flex-row justify-between items-center mb-2">
    <a href="https://x.com/pzrsaa" target="_blank">
      <img
        alt="Parsa Mesgarha"
        src={name.src}
        loading="eager"
        decoding="async"
        class="h-5 sm:h-8 border-none hover:opacity-80"
      />
    </a>
    <a href="https://x.com/pzrsaa" target="_blank">
      <img
        alt="Parsa Mesgarha"
        src={me.src}
        height={111}
        width={111}
        loading="eager"
        decoding="async"
        class="hover:opacity-80"
      />
    </a>
  </div>
  <div class="h-[123px]">
    <NowPlaying server:defer />
  </div>
  <Prose>
    <p>
      I'm a 22 year old Persian born in England, raised in London. I'm currently
      working as a Software Engineer at
      <span class="prose-a:text-tesla-red"
        ><a href="https://www.tesla.com" target="_blank">Tesla</a>
      </span>
      in Berlin.
    </p>

    <p>
      Previously I worked at{" "}
      <span class="prose-a:decoration-google-blue prose-a:hover:text-blue-800"
        ><a href="https://google.com" target="_blank">
          <span class="text-google-blue">G</span><span class="text-google-red"
            >o</span
          ><span class="text-google-yellow">o</span><span
            class="text-google-blue">g</span
          ><span class="text-google-green">l</span><span class="text-google-red"
            >e</span
          ></a
        ></span
      >
      for 2 years, contributing to
      <a href="https://www.chromium.org/Home/" target="_blank">Chrome</a>,
      <a href="https://source.android.com/" target="_blank">Android</a>, and
      generally the <a href="https://web.dev/" target="_blank">web platform</a>.
    </p>
    <p>
      I have a <a href="/blog">blog</a> where I write about stuff I find interesting
      enough to share, mostly on things like tech, philosophy and life.
    </p>
    <p>
      If anything here piques your interest, don't hesitate to{" "}
      <a href="mailto:hi@parsam.io" target="_blank">reach out</a>. I love
      meeting new people!
    </p>
    <div>
      <h3>Newest Posts</h3>
      <ul class="flex flex-col gap-4 not-prose">
        {
          newestPosts.map((post) => (
            <li>
              <span class="flex gap-1 items-center">
                <span class="flex-1">
                  <a href={`/${post.id}`}>
                    <span class="font-bold font-serif text-lg">
                      {post.data.title}
                    </span>
                    {post.data.author && <span> ({post.data.author})</span>}
                  </a>
                </span>
                <span>
                  {post.data.date.toLocaleDateString("en-GB", {
                    day: "numeric",
                    month: "short",
                    year: "2-digit",
                  })}
                </span>
              </span>
            </li>
          ))
        }
      </ul>
      <h3 class="font-bold">Newsletter</h3>
      <SubscribeForm />
      <h3>Links</h3>
      <div class="not-prose grid grid-cols-3 sm:grid-cols-4">
        <a class={linksClass} href="https://x.com/pzrsaa" target="_blank"
          >Twitter/X</a
        >
        <a class={linksClass} href="https://github.com/pzrsa" target="_blank"
          >GitHub</a
        >
        <a
          class={linksClass}
          href="https://www.youtube.com/@pzrsa"
          target="_blank">YouTube</a
        >
        <a
          class={linksClass}
          href="https://www.instagram.com/parsamesgarha"
          target="_blank"
        >
          Instagram
        </a>
        <a
          class={linksClass}
          href="https://www.linkedin.com/in/parsamesgarha"
          target="_blank"
        >
          LinkedIn
        </a>
        <a
          class={linksClass}
          href="https://github.com/pzrsa/parsam.io"
          target="_blank"
        >
          Source Code
        </a>
        <a
          class={linksClass}
          href="https://letterboxd.com/pzrsa/"
          target="_blank"
        >
          Letterboxd
        </a>
        <a
          class={linksClass}
          href="https://open.spotify.com/user/e4ebkdi70a4wu03jwbwrglzhk"
          target="_blank"
        >
          Spotify
        </a>
        <a
          class={linksClass}
          href="https://www.last.fm/user/pzrsa"
          target="_blank">Last.fm</a
        >
        <a
          class={linksClass}
          href="https://monkeytype.com/profile/pzrsa"
          target="_blank"
        >
          Monkeytype
        </a>
      </div>
    </div>
    <div>
      <h2>Favourites</h2>
      <h3>Albums</h3>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          albums.map((album) => (
            <a
              href={`https://open.spotify.com/album/${album.id}`}
              target="_blank"
            >
              <Image
                alt={album.data.title}
                src={`https://i.scdn.co/image/${album.data.imageID}`}
                width={640}
                height={640}
                class="hover:opacity-80"
              />
            </a>
          ))
        }
      </div>
      <h3>Books</h3>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          books.map((book) => (
            <a
              href={`https://books.google.com/books?id=${book.id}`}
              target="_blank"
            >
              <Image
                alt={book.data.title}
                src={`https://books.google.com/books/content?id=${book.id}&printsec=frontcover&img=1&zoom=1`}
                width={624}
                height={320}
                class="hover:opacity-80"
              />
            </a>
          ))
        }
      </div>
      <h3>Films/Shows</h3>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          filmsShows.map((filmShow) => (
            <a
              href={`https://www.imdb.com/title/${filmShow.id}`}
              target="_blank"
            >
              <Image
                alt={filmShow.data.title}
                src={`https://image.tmdb.org/t/p/original/${filmShow.data.imageID}.jpg`}
                width={624}
                height={320}
                class="hover:opacity-80"
              />
            </a>
          ))
        }
      </div>
      <p>
        You can see the rest on my{" "}
        <a href="https://letterboxd.com/pzrsa/likes/films/by/date/size/large/">
          Letterboxd</a
        >.
      </p>
    </div>
  </Prose>
</Layout>
