---
import Layout from "../components/Layout.astro";
import { Image } from "astro:assets";
import me from "../assets/avatar.jpeg";
import Prose from "../components/Prose.astro";
import NowPlaying from "../components/NowPlaying.astro";
import SubscribeForm from "../components/SubscribeForm.astro";
---

<Layout>
    <div>
        <div class="flex flex-row items-center gap-4 mb-6">
            <div class="flex-shrink-0">
                <a href="https://x.com/pzrsaa" target="_blank">
                    <Image
                        alt="Parsa Mesgarha"
                        src={me}
                        class="border-2 border-black"
                        height={80}
                        width={80}
                        loading="eager"
                    />
                </a>
            </div>
            <div class="w-fit">
                <NowPlaying server:defer />
            </div>
        </div>
    </div>
    <Prose>
        <p>
            I&apos;m 21 years old, Persian, born in England, and have spent the
            majority of my life in London.
        </p>
        <p>
            I&apos;m currently working as a Software Engineer at
            <a href="https://www.tesla.com"
                ><span class="text-tesla-red hover:underline">Tesla</span></a
            >
            in Berlin. Prior to this, I was at{" "}
            <a href="https://google.com">
                <span class="text-google-blue">G</span><span
                    class="text-google-red">o</span
                ><span class="text-google-yellow">o</span><span
                    class="text-google-blue">g</span
                ><span class="text-google-green">l</span><span
                    class="text-google-red">e</span
                ></a
            >
            for 2 years, primarily contributing to the the
            <a href="https://web.dev/">Web Platform</a>
            through
            <a href="https://www.chromium.org/Home/">Chrome</a>{" "}
            and
            <a href="https://source.android.com/">Android</a>.
        </p>
        <p>
            I have a <a href="/blog">blog</a> where I write about stuff I find interesting
            enough to share.
        </p>
        <p>
            If anything here piques your interest, don&apos;t hesitate to{" "}
            <a href="mailto:hi@parsam.io">reach out</a>. I love meeting new
            people!
        </p>
        <div>
            <h3>Newsletter</h3>
            <SubscribeForm />
            <h3>Links</h3>
            <div class="not-prose grid grid-cols-3 sm:grid-cols-4">
                <a class="w-fit" href="https://x.com/pzrsaa">Twitter/X</a>
                <a class="w-fit" href="https://github.com/pzrsa">GitHub</a>
                <a class="w-fit" href="https://www.youtube.com/@pzrsa"
                    >YouTube</a
                >
                <a class="w-fit" href="https://www.instagram.com/parsamesgarha">
                    Instagram
                </a>
                <a
                    class="w-fit"
                    href="https://www.linkedin.com/in/parsamesgarha"
                >
                    LinkedIn
                </a>
                <a class="w-fit" href="https://github.com/pzrsa/parsam.io">
                    Source Code
                </a>
                <a class="w-fit" href="https://letterboxd.com/pzrsa/">
                    Letterboxd
                </a>
                <a
                    class="w-fit"
                    href="https://open.spotify.com/user/e4ebkdi70a4wu03jwbwrglzhk"
                >
                    Spotify
                </a>
                <a class="w-fit" href="https://www.last.fm/user/pzrsa"
                    >Last.fm</a
                >
                <a class="w-fit" href="https://monkeytype.com/profile/pzrsa">
                    Monkeytype
                </a>
            </div>
        </div>
        <div>
            <h2>Now</h2>
            <p>
                <a href={"/tesla"}>I joined Tesla (and moved to Berlin)</a>.
            </p>
        </div>
        <!-- <div>
            <h2>Favourites</h2>
            <h3>Albums</h3>
            <div class="grid grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          FAVOURITE_ALBUMS.map((album) => (
            <a
              href={`https://open.spotify.com/album/${album.spotifyID}`}
              class="group"
              key={album.title}
              rel="prefetch noreferrer"
              target="_blank"
            >
              <div class="aspect-w-1 aspect-h-1 cursor-pointer shadow-2xl">
                <Image
                  alt={album.title}
                  src={`https://i.scdn.co/image/${album.spotifyImageID}`}
                  fill
                />
              </div>
            </a>
          ))
        }
      </div>
            <h3>Films</h3>
            <div class="grid grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          FAVOURITE_FILMS.map((film) => (
            <a
              href={`https://www.imdb.com/title/${film.imdbID}`}
              class="group"
              key={film.title}
              rel="prefetch noreferrer"
              target="_blank"
            >
              <div class="aspect-w-2 aspect-h-3 cursor-pointer shadow-2xl">
                <Image
                  alt={film.title}
                  src={`https://image.tmdb.org/t/p/original/${film.tmdbImageID}.jpg`}
                  fill
                />
              </div>
            </a>
          ))
        }
      </div>
            <p>
                You can see the rest on my{" "}
                <a
                    href="https://letterboxd.com/pzrsa/likes/films/by/date/size/large/"
                >
                    Letterboxd</a
                >.
            </p>
            <h3>Shows</h3>
            <div class="grid grid-cols-4 gap-x-6 gap-y-6 not-prose">
        {
          FAVOURITE_SHOWS.map((show) => (
            <a
              href={`https://www.imdb.com/title/${show.imdbID}`}
              class="group"
              key={show.title}
              rel="prefetch noreferrer"
              target="_blank"
            >
              <div class="aspect-w-2 aspect-h-3 cursor-pointer shadow-2xl">
                <Image
                  alt={show.title}
                  src={`https://image.tmdb.org/t/p/original/${show.tmdbImageID}.jpg`}
                  fill
                />
              </div>
            </a>
          ))
        }
      </div>
        </div> -->
    </Prose>
</Layout>
