---
import "../styles/global.css";
import Nav from "./Nav.astro";

interface Props {
    title?: string;
    post?: boolean;
}

const baseTitle = "Parsa Mesgarha";
const description = "Software Engineer at Tesla";

const { title, post } = Astro.props;

const fullTitle = title ? `${title} - ${baseTitle}` : baseTitle;
---

<html lang="en" class="bg-white text-black antialiased">
    <head>
        <link
            rel="alternate"
            type="application/rss+xml"
            title={baseTitle}
            href={new URL("rss.xml", Astro.site)}
        />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-icon.png"
            type="image/png"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{fullTitle}</title>
        <meta name="description" content={description} />
        <meta name="robots" content="index, follow" />
        <meta property="og:title" content={fullTitle} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.site} />
        <meta property="og:description" content={description} />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator" content="@pzrsaa" />
        <meta name="twitter:title" content={fullTitle} />
        <meta name="twitter:description" content={description} />
    </head>
    <body class="max-w-2xl py-8 px-6">
        <Nav title={post ? title : undefined} />
        <slot />
    </body>
</html>
